// Fonts
@font-face {
    font-family: "Geometria";
    src: url(./../../fonts/Geometria/Geometria.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Geometria";
    src: url(./../../fonts/Geometria/Geometria-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: "Geometria";
    src: url(./../../fonts/Geometria/Geometria-ExtraBold.woff);
    font-weight: 800;
}

// Colors
$projectColor-blue: rgb(32,43,99);
$projectColor-red: rgb(203,37,36);
$projectColor-red-blur: rgba(203,37,36,.8);
$defaultBackground-color: #EEE;

$headers-color: #1D1E20;
$subheaders-color: #171E2B;
$plainText-color: #7B8FA7;
$plainText-color-2: #9CAABB;
$helpColor: #ecf0f9;
$helpButtons-color: #325899;

// Common default tags
*, ::before, ::after {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geometria', "Arial";
}
// standart font settings
html {
    font-size: 10px;
    font-weight: 400;

    @media(max-width: 991px) {
        font-size: 9px;
    }
}

// links without styles
a {
    color: #FFF;
    text-decoration: none;
}

ul {
    list-style: none;
}
// let the inputs being under/upper label
label {
    display: block;
    cursor: pointer;
}
// standart svg icon settings
svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;

    fill: $plainText-color;
}

hr {
    border: none;
    height: 1px;
    background: $plainText-color;
}

// button settings
button {
    height: 53px;
    padding: 1.8rem 3rem;
    color: #FFF;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    outline: none;
    background: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
    }

    &:active {
        transform: scale(1.05);
    }
}

// Common classes

// block in center with a fixed width
.centered {
    width: 70%;
    margin: 0 auto;
}
// block in center without borders on the right
.not-centered {
    width: 85%;
    margin-left: 15%;
}
// headers settings
.headers {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
// extra headers settings
.extra-headers {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
}
// subheaders settings
.subheaders {
    font-size: 1.6rem;
    font-weight: 700;
    color: $subheaders-color;
}
// plain text
.plain-text {
    font-size: 1.4rem;
    color: $plainText-color;
}
// other type of plain text
.plain-text-2 {
    font-size: 1.4rem;
    color: $plainText-color-2;
}
.underlined-text {
    color: $helpButtons-color;
    font-size: 1.6rem;
    text-decoration: underline;
}
.underlined-text-bold {
    color: $helpButtons-color;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}
// filter titles above the buttons
.filter-title {
    margin-bottom: 7px;
    color: $plainText-color;
    font-size: 1.6rem;
}
// centralize childs
.center-childs {
    display: flex;
    justify-content: center;
    align-items: center;
}
// space-between set
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// align center without resituating elements
.align-center {
    display: flex;
    align-items: center;
}
// blue buttons
.blue-button {
    background: $projectColor-blue;
}
// red-buttons
.red-button {
    background: $projectColor-red;
}
// gray-buttons
.gray-buttons {
    &:hover {
        color: #FFF;
        background: rgba(0, 0, 0, .5);
    }
}
// full img size
.full-img {
    width: 100%;
    height: 100%;
}
// repeating logo block
.logo {
    color: #222933;
    img {
        margin-right: 7px;
    }
}

// repeating contacts block
.contacts {
    display: flex;
    & > div {
        display: flex;
        align-items: center;
        padding: 5px;
    }
}
// select styles
.select {
    display: block;
    position: relative;
    width: 100%;
    height: 53px;
    border-radius: 5px;
    background: #FFF;
    color: $subheaders-color;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.new-select {
    position: relative;
    padding: 0 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    background: $projectColor-red-blur;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.custom-select {
    &--show {
        .custom-select__current {
            &::after {
                transform: rotate(-180deg);
                top: 40%;
            }
        }
    }
}

// tabs logic
.tabs {
    &_triggers {
        &_header {
            margin-bottom: 4rem;
        }
        &_buttons {
            align-self: flex-end;
            margin-bottom: 2rem;
            &_item {
                height: 100%;
                font-weight: bold;
                padding: 2rem 2rem;
                margin: 0 .5rem;
                border-radius: 5px 5px 0 0;
                background: $helpColor;
                transition: all .3s;
                &--active {
                    font-size: 1.6rem;
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    color: $subheaders-color;
                    background: $defaultBackground-color;
                }
                &:not(.tabs_triggers_buttons_item--active):hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &_content {
        background: $defaultBackground-color;
        &_wrapper {
            &_item {
                padding: 7rem 0;
                display: none;
                &--active {
                    display: block;
                }
            }
        }
    }
}

// slider blocks hat(header+buttons)
.hat-carousel {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &_header {
        flex-basis: 30%;
    }

    &_buttons{
        flex-basis: 70%;
        .hat-carousel_buttons_prev, .hat-carousel_buttons_next {
            width: 4.5rem;
            height: 4.5rem;
            margin: 0 1rem;
            border-radius: 5px;
            background: $defaultBackground-color;
            cursor: pointer;

            svg {
                width: 40%;
                height: 40%;
            }

            &:hover {
                background: $projectColor-red-blur;
                svg {
                    fill: #FFF; 
                }
            }
        }

        .hat-carousel_buttons_prev.slick-disabled, .hat-carousel_buttons_next.slick-disabled {
            opacity: .5 ;
            &:hover {
                background: $defaultBackground-color;
                svg {
                    fill: $plainText-color;
                }
            }
        }
        :active:not(.slick-disabled) {
            transform: scale(1.2);
        }
    }
}

// most of items sets
.typical-item {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    }

    & > div {
        width: 100%;
    }

    & > div:not(.typical-item_picture) {
        padding: 0 1.5rem;
    }
    // same components
    &_picture {
        height: 65%;
        margin-bottom: 15px;
        img {
            border-radius: 5px 5px 0 0;
        }
    }

    &_date {
        font-size: 1.2rem;
        color: $plainText-color-2;
    }
    // only for news block
    &_open {
        a svg {
            margin: 0;
            fill: $plainText-color-2;
            :hover {
                fill: $projectColor-red;
            }
            :active {
                transform: scale(1.1);
            }
        }
    }
    // only for help block
    &_show-more {
        padding: 1.5rem;
        text-align: right;
    }
    // only for best-offers block
    &_location {
        color: $subheaders-color;
        margin-top: 9px;
        svg {
            margin: 0;
        }
    }
    &_advantages {
        height: 50px;
        margin: 1.5rem 0;
        &_profit, &_yield, &_payback {
            span {
                color: $subheaders-color;
            }
        }
    }
    &_more {
        height: 100px;
        background: $helpColor;
        border-radius: 0 0 5px 5px;
        &_sum {
            span {
                color: #202B63;
                font-size: 3rem;
            }
        }

        &_button {
            button {
                width: 130px;
            }
        }
    }
}
// margins for some of items in carousels
.margin-item {
    margin: 2rem;
}
// standart slider settings
.slick-track {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.slick-list {
    overflow: hidden;
}
.slick-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slide:active, .slick-slide:focus {
    border: none;
    outline: none;
}

// value sliders
// cralwer's road
.noUi-target {
    height: 5px;
    background: #D1D3D6;
    border: none;
    box-shadow: none;
}
// crawler's active part
.noUi-connect {
    background: $projectColor-red;
}
// hiding density points
.noUi-marker-normal, .noUi-marker-sub {
    display: none;
}
// hiding crawler pseudos
.noUi-handle::after, .noUi-handle::before {
    display: none;
}
// styling crawler
.noUi-horizontal .noUi-handle {
    top: -9px;
    width: 21px;
    height: 21px;
    background: $projectColor-red;
    box-shadow: none;
    border: none;
    border-radius: 50%;

    &:focus {
        outline: none;
    }
}
// styling numbers
.noUi-pips .noUi-value-sub {
    font-size: 11px;
    color: $plainText-color;
    left: 0 !important;
}
// deleting standart positioning(numbers scale)
.noUi-value-horizontal {
    transform: none;
}
// positioning numbers scale
.noUi-pips-horizontal, .noUi-pips .noUi-value-sub {
    position: relative;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
// MAIN CONTAINER + media queries for same classes
.main-container {
    @media(max-width:1450px) {
        .headers {
            font-size: 1.8rem;
        }
        .hat-carousel {
            &_header {
                flex-basis: 40%;
            }

            &_buttons {
                flex-basis: 60%;
            }
        }
    }

    @media(max-width: 1200px) {
        .tabs {
            &_triggers {
                &_buttons {
                    &_item {
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }

    @media(max-width: 991px) {
        // tablet/mobile full width
        .centered, .not-centered {
            width: 95%;
            margin: 0 auto;
        }

        // all blocks with carousel
        .hat-carousel {
            margin-bottom: 50px;
        }

        // all blocks with tabs
        .tabs {
            &_triggers {
                flex-direction: column;
                &_header {
                    text-align: center;
                }

                &_header {
                    margin-bottom: 5rem;
                }

                &_buttons {
                    align-self: inherit;
                }
            }
        }
    }

    @media(max-width: 767px) {
        // all blocks with sliders
        .hat-carousel {
            &_header {
                flex-basis: 100%;
                text-align: center;
            }
            &_buttons {
                display: none;
            }
        }
    }

    // @media(max-width: 550px) {
    //     // all blocks with tabs
    //     .tabs {
    //         &_buttons {
    //             &_item {
    //                 &--active {
    //                     font-size: 1.4rem;
    //                     color: $subheaders-color;
    //                     background: $defaultBackground-color;
    //                 }
    //                 &:not(.tabs_triggers_buttons_item--active):hover {
    //                     text-decoration: underline;
    //                 }
    //             }
    //         }
    //     }
    // }
}

// HEADER
.main-container_hat {
    padding: 1.5rem 0;
    &_address, .profile-link {
        font-size: 1.2rem;
    }

    .profile-link {
        color: $subheaders-color;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }

    &_phone-call {
        button {
            width: 18rem;
            padding: 1.5rem;
            svg {
                margin: 0;
                margin-right: 5px;
            }
        }
    }

    @media(max-width: 1450px) {
        &_address {
            display: none;
        }
    }

    @media(max-width: 1250px) {
        &_contacts {
            flex-direction: column;
        }
    }

    @media(max-width: 767px) {
        &_contacts {
            display: none;
        }
    }

    @media(max-width: 520px) {
        &_phone-call {
            display: none;
        }
    }
}
// FIND-BUSINESS SECTION
.main-container_find-business {
    padding: 3rem 0;
    background: $defaultBackground-color;
    &_content {
        height: 68rem;
        &_container {
            position: relative;
            flex-basis: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_nav {
                position: absolute;
                top: 0;
                left: 0;
                ul {
                    height: 100%;
                    display: flex;
                    :not(:last-child) li {
                        border-right: 1px solid black;
                        padding-right: 2rem;
                    }
                    :not(:first-child) li {
                        padding-left: 2rem;
                    }
                    a {
                        height: 100%;
                        padding: 1.5rem 0;
                        color: $headers-color;  
                        &:hover {
                            color: $plainText-color;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &_info {
                width: 50rem;
                &_header {
                    margin-bottom: 2.5rem;
                }
        
                &_subheader {
                    line-height: 1.5;
                    margin-bottom: 5rem;
                }
        
                &_buttons {
                    display: flex;
                    :first-child {
                        margin-right: 1.4rem;
                    }

                    button {
                        width: 20rem;
                    }
                }
            }
        }

        &_crawlers {
            position: relative;
            width: 62rem;
            height: 100%;
            background: url(./../../img/find-business/3-background.png) no-repeat;
            background-size: cover;
    
            &_form {
                width: 45rem;
                height: 57rem;
                padding: 6rem 4rem;
                background: #FFF;
                border-radius: 5px;
                position: absolute;
                right: calc(60%);
                // all inputs inside 
                .instrument-container {
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .instrument {
                        &_value {
                            margin-bottom: 3rem;
                            &_subheader {
                                font-weight: 400;
                            }
                            &_field {
                                input[type="text"] {
                                    width: 100px;
                                    font-size: 1.4rem;
                                    text-align: right;
                                    border: none;
                                    background: none;
                                }
                            }
                        }
                    }
    
                    .instrument_branch {
                        .select {
                            background: $defaultBackground-color;
                        }
                        label {
                            margin-bottom: 9px;
                        }
                    }
                }
                // special button position
                .submit-button {
                    position: absolute;
                    top: calc(100% - 2.65rem);
                    left: calc(50% - 12.5rem);

                    button {
                        width: 25rem;
                    }
                }
            }
        }
    }

    @media(max-width: 1500px) {
        &_content {
            &_container {
                &_info {
                    width: 40rem;
                    &_header {
                        font-size: 4rem;
                    }

                    &_buttons {
                        button {
                            width: 18.5rem;
                        }
                    }
                }
            }

            &_crawlers {
                width: 40rem;
                &_form {
                    right: 40%;
                }
            }
        }
    }

    @media(max-width: 1200px) {
        &_content {
            &_container {
                &_nav {
                    ul {
                        font-size: 1.4rem;
                    }
                }
            }

            &_crawlers {
                background: 0;
                &_form {
                    width: 43rem;
                    right: 0;
                }
            }
        }
    }

    @media(max-width: 991px) {
        &_content {
            &_container {
                &_nav {
                    display: none;
                }
            }

            &_crawlers {
                &_form {
                    min-width: 50rem;
                }
            }
        }
    }

    @media(max-width: 900px) {
        &_content {
            height: auto;
            text-align: center;
            flex-direction: column;
            &_container {
                margin-top: 3rem;
            }
    
            &_crawlers {
                width: 100%;
                padding: 5rem 0;
                &_form {
                    margin: 0 auto;
                    position: inherit;
                }
            }
        }
    }

    @media(max-width: 500px) {
        &_content {
            &_crawlers {
                overflow: hidden;
                overflow-x: auto;
                white-space: nowrap;
                &_form {
                    display: inline-block;
                }
            }
        }
    }

    @media(max-width: 420px) {
        &_content {
            &_container {
                &_info {
                    width: 100%;
                    &_header {
                        font-size: 2.5rem;
                    }

                    &_buttons {
                        flex-direction: column;
                        align-items: center;
                        :first-child {
                            margin: 0;
                            margin-bottom: 9px;
                        }
                    }
                }
            }
        }
    }
}

.main-container_best-offers {
    padding: 5rem 0;
    &_options {
        display: flex;
        &_menu {
            min-width: 25%;
            &_nav {
                font-weight: 700;
                ul {
                    a li {
                        margin-bottom: 3rem;
                        transition: .1s;
                    }

                    .choosen-item {
                        position: relative;
                        li {
                            font-size: 1.8rem;
                            color: $headers-color;
                            margin-left: 4rem;
                        }

                        ::before {
                            content: '';
                            position: absolute;
                            width: 3rem;
                            height: .5rem;
                            top: .8rem;
                            left: .1rem;
                            background: $projectColor-red;
                        }
                    }
                }
            }
        }

        &_slider {
            //best-offers item within a slider
            .typical-item {
                margin: 2rem;
                margin-top: 0;
            }
        }

        @media(max-width: 1450px) {
            &_menu {
                min-width: 30%;
            }
        }

        @media(max-width: 1150px) {
            &_menu {
                min-width: 35%;
            }
        }

        @media(max-width: 700px) {
            &_menu {
                min-width: 42%;
            }

            &_slider {
                .typical-item {
                    &_more {
                        &_sum {
                            span {
                                font-size: 2.5rem;
                            }
                        }
                        &_button {
                            button {
                                width: 13rem;
                            }
                        }
                    }
                }
            }
        }

        @media(max-width: 600px) {
            flex-direction: column;
            &_menu {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}

.main-container_invest-top, .main-container_invest-bottom {
    padding: 5rem 0;
    .tabs {
        &_content {
            &_wrapper {
                &_item {
                    padding-top: 4.5rem;
                }
            }
        }
    }
    &_form {
        & > div {
            flex-basis: 20%;
        }

        &_profit, &_price-from, &_price-for {
            min-width: 17rem;
            &_title {
                font-weight: 400;
                margin-bottom: 7px;
            }
        }

        &_submit {
            align-self: flex-end;
            button {
                width: 26rem;
            }
        }
    }

    @media(max-width: 1200px) {
        .tabs {
            &_triggers {
                &_buttons {
                    &_item {
                        margin: 0;
                        font-size: 1.3rem;
                        padding-left: .7rem;
                        padding-right: .7rem;
                    }
                }
            }
        }
    }

    @media(max-width: 991px) {
        .tabs {
            &_triggers {
                &_buttons {
                    &_item {
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        font-size: 1.6rem;
                        margin: 0 1rem;
                    }
                }
            }
        }

        &_form {
            flex-direction: column;
            & > div {
                width: 26rem;
            }
            & > div:not(:last-child) {
                margin-bottom: 20px;
            }

            &_submit {
                align-self: normal;
                margin: 0 auto;
            }
        }
    }

    @media(max-width: 450px) {
        .tabs {
            &_triggers {
                &_buttons {
                    &_item {
                        margin: 0;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.main-container_tips {
    padding: 5rem 0;
    &_header {
        text-align: center;
        margin: 0 1rem;
        margin-bottom: 3.5rem;
    }

    &_content {
        flex-wrap: wrap;
        &_item {
            width: 32rem;
            padding: 4rem 1rem 4rem 2rem;
            margin: 1rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, .05);

            &_info {
                &_subheader {
                    margin-bottom: 12px;
                }
            }

            svg {
                width: 7rem;
                height: 7rem;
                margin: 0;
                margin-right: 30px;
                fill: $projectColor-red;
            }
        }
    }
}

.main-container_filter {
    padding: 5rem 0;
    &_form {
        // blocks with radiobuttons
        &_container {
            margin-top: 3rem;
            display: flex;
            &_long-radio, &_small-radio {
                :first-child {
                    margin-bottom: 10px;
                }
            }
            &_long-radio {
                width: 70%;
                display: flex;
                flex-direction: column;
            }
            &_small-radio {
                width: 25%;
                display: flex;
                flex-direction: column;

                &_city {
                    &_select {
                        .select {
                            background: $defaultBackground-color;
                        }
                    }
                }

                &_payback {
                    &_radio {
                        &_item:first-child:nth-last-child(4), &_item:first-child:nth-last-child(4) ~ &_item {
                            width: 25%;
                        }
                    }
                }
            }
        }
        // checkboxes
        &_branches {
            margin: 3.5rem 0;
            &_checkbox {
                display: flex;
                flex-wrap: wrap;
                &_item {
                    width: 33%;
                    padding: 8px 0;
                    font-size: 1.4rem;
                    color: $plainText-color;
                    display: flex;
                    label {
                        padding: 0 6px;
                    }
                    input[type="checkbox"] {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        &_results {
            &_show-offers {
                &_clear-filter {
                    margin-right: 15px;
                }
            }
        }
    }

    // same styles for every radio buttons group
    .filter-radio {
        display: flex;
        :first-child {
            label {
                border-radius: 5px 0 0 5px;
            }
        }

        :last-child {
            label {
                border-radius: 0 5px 5px 0;
            }
        }

        &_item {
            width: calc(100%/6);
            display: inline-block;
            input[type="radio"] {
                display: none;
            }

            label {
                width: 100%;
                padding: 1.5rem;
                background: $defaultBackground-color;
                text-align: center;
                color: $subheaders-color;
                font-size: 1.2rem;
                user-select: none;
            }

            input[type="radio"]:checked + label {
                background: $projectColor-red;
                color: #FFF;
            }
        }
    }

    @media(max-width: 1450px) {
        &_form {
            & > div {
                min-width: 700px;
            }
            &_container {
                flex-direction: column;
                align-items: flex-start;
                &_long-radio {
                    min-width: 700px;
                }

                &_small-radio {
                    min-width: 300px;
                }
            }
            &_branches {
                &_checkbox {
                    &_item {
                        width: 49%;
                    }
                }
            }
        }
    }

    @media(max-width: 800px) {
        &_form {
            overflow: hidden;
            overflow-x: auto;
            white-space: nowrap;
        }
    }
}

.main-container_help {
    padding: 5rem 0;
    &_container {
        &_items {
            width: 100%;
            flex-wrap: wrap;
            &_item {
                width: 26.5rem;
                min-width: 26.5rem;
                height: 42rem;
                margin: 2rem;
                background: #FFF;

                .typical-item_picture {
                    height: 45%;
                }

                .typical-item_subheader {
                    height: 10%;
                    width: 100%;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: center;
                }

                .typical-item_text {
                    height: 23%;
                    margin-bottom: 25px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.main-container_work-with {
    padding: 5rem 0;
    &_carousel {
        &_item {
            width: 25rem;
            height: 9rem;
            padding: 1rem 5rem;
            margin: 1rem;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        }
    }
}

.main-container_reviews {
    padding: 5rem 0;
    &_carousel {
        .typical-item {
            width: 36rem;
            padding: 2rem 1rem 2rem 3rem;
            background: url(./../../svg/reviews/right-quotation.svg) 135% -30% / 70% 60% no-repeat border-box border-box;

            &_subheader {
                height: 4.5rem;
                margin-bottom: 2.5rem;
            }

            &_text {
                margin-bottom: 25px;
            }

            &_author {
                margin-bottom: 1rem;
                color: $subheaders-color;
            }
        }
    }
}

.main-container_news {
    &_header {
        text-align: center;
        margin-bottom: 40px;
    }
    &_container {
        flex-wrap: wrap;
        .typical-item {
            width: 35rem;
            margin: 1rem;
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            align-items: space-between;

            &_picture {
                height: 24rem;
            }

            &_subheader {
                margin-bottom: 20px;
            }

            &_goto {
                & > div {
                    padding: 1.5rem 0;
                }
            }
        }

        &_watch-all {
            margin-top: 4rem;
            margin-bottom: 5rem;
            button {
                color: $subheaders-color;
                border: 1px solid black;
            }
        }
    }

    @media(max-width: 1550px) {
        &_container {
            justify-content: center;
            .typical-item {
                width: 32rem;
            }
        }
    }

    @media(max-width: 767px) {
        &_container {
            flex-direction: column;
            &_item {
                width: 30rem;
                height: 32rem;
                margin: 2rem 0;
                .typical-item_subheader {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.main-container_how-works {
    padding-top: 5rem;
    .tabs {
        &_triggers {
            &_buttons {
                &_item {
                    font-size: 1.3rem;
                }
            }
        }
    }
    &_how-sell {
        flex-wrap: wrap;
        justify-content: center;
        .typical-item {
            width: 27rem;
            margin: 1rem;
            background: #FFF;

            &_picture {
                height: 18rem;
            }

            &_subheader {
                margin-bottom: 2.5rem;
            }
        }
    }
}

.main-container_free-call {
    padding: 10rem 0;
    color: #FFF;
    background: rgb(32,43,99);

    &_container {
        &_header {
            margin-bottom: 3rem;
        }

        &_form {
            &_radio {
                align-self: flex-end;
                &_buy, &_sell {
                    .buy-sell_label {
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        input[type="radio"] {
                            display: none;
                        }

                        &_fake {
                            display: inline-block;
                            position: relative;
                            width: 2rem;
                            height: 2rem;
                            margin-right: 10px;
                            border: 1px solid #FFF;
                            border-radius: 50%;

                            &::before {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 75%;
                                height: 75%;
                                border-radius: 50%;
                                background: $projectColor-red;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: .3s;
                            }
                        }

                        input[type="radio"]:checked + .buy-sell_label_fake::before {
                            opacity: 1;
                        }

                        &_text {
                            font-size: 1.4rem;
                        }
                    }
                }

                &_buy {
                    margin-bottom: 10px;
                }
            }

            &_name, &_phone {
                label {
                    font-size: 1.6rem;
                    margin-bottom: 7px;
                }
        
                input {
                    width: 24rem;
                    height: 53px;
                    padding: 0 1rem;
                    border: none;
                    outline: none;
                    border-radius: .5rem;
        
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #171E2B;
                }
            }
        
            &_submit {
                align-self: flex-end;
                button {
                    width: 24rem;
                }
            }
        }
    }

    @media(max-width: 1400px) {
        &_container {
            &_form {
                .buy-sell_label {
                    &_fake {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    &_text {
                        font-size: 1.2rem;
                    }
                }

                &_name, &_phone {
                    input {
                        width: 19rem;
                    }
                }

                &_submit {
                    button {
                        width: 20rem;
                    }
                }
            }
        }
    }

    @media(max-width: 1100px) {
        &_container {
            &_header {
                text-align: center;
            }

            &_form {
                flex-direction: column;
                & > div {
                    margin: 1rem 0;
                }

                &_radio, &_submit {
                    align-self: inherit;
                }

                .buy-sell_label {
                    &_fake {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &_text {
                        font-size: 1.4rem;
                    }
                }

                &_name, &_phone {
                    input {
                        width: 30rem;
                    }
                }

                &_submit {
                    button {
                        width: 30rem;
                    }
                }
            }
        }
    }
}

.main-container_seo {
    line-height: 1.5;
    &_header {
        text-align: center;
        margin-bottom: 4rem;
    }

    &_text-1 {
        margin-bottom: 1.5rem;
    }
}

.main-container_footer {
    color: #FFF;
    background: rgb(29,30,32);

    &_content {
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        &_nav {
            ul {
                display: flex;
                :not(:last-child) {
                    padding-right: 2rem;
                }
                a {
                    font-size: 1.6rem;
                    &:hover {
                        color: $plainText-color;
                        text-decoration: underline;
                    }
                }
            }
        }

        &_logo {
            &_text {
                color: $plainText-color;
            }
        }

        &_contacts {
            &_phone, &_email {
                &_text {
                    color: #FFF;
                }
            }
        }

        &_networks {
            display: flex;
            :not(:last-child) {
                margin-right: 1rem;
            }

            &_item {
                width: 3rem;
                height: 3rem;
                background: #FFF;
                border-radius: 4px;

                :not(:last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    transform: scale(1.05);
                }

                svg {
                    margin: 0;
                }
            }
        }
    }

    &_rights {
        padding: 2.5rem 0;
        color: $plainText-color;
        font-size: 1.2rem;
        a {
            color: $plainText-color;
        }
    }

    @media(max-width:1450px) {
        &_content {
            &_contacts {
                flex-direction: column;
            }
        }
    }

    @media(max-width: 1300px) {
        &_content {
            &_nav {
                display: none;
            }
        }
    }

    @media(max-width: 650px) {
        &_content, &_rights {
            flex-direction: column;
            & > div {
                margin-bottom: 10px;
            }
        }
    }
}   