@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria.woff);
  font-weight: 400; }

@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria-Bold.woff);
  font-weight: 700; }

@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria-ExtraBold.woff);
  font-weight: 800; }

*, ::before, ::after {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geometria', "Arial"; }

html {
  font-size: 10px;
  font-weight: 400; }

@media screen and (max-device-width: 1600px) {
  html {
    font-size: 9px; } }

a {
  color: #FFF;
  text-decoration: none; }

ul {
  list-style: none; }

label {
  display: block;
  cursor: pointer; }

svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  fill: #7B8FA7; }

hr {
  border: none;
  height: 1px;
  background: #7B8FA7; }

button {
  height: 5rem;
  padding: 1.8rem 3rem;
  color: #FFF;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  button:hover {
    box-shadow: 0 2px 5px black; }
  button:active {
    transform: scale(1.05); }

.centered {
  width: 70%;
  margin: 0 auto; }

.not-centered {
  width: 85%;
  margin-left: 15%; }

.headers {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.centered-header {
  margin-bottom: 7rem;
  text-align: center; }

.extra-headers {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1; }

.subheaders {
  font-size: 1.6rem;
  font-weight: 700;
  color: #171E2B; }

.plain-text {
  font-size: 1.4rem;
  color: #7B8FA7; }

.plain-text-2 {
  font-size: 1.4rem;
  color: #9CAABB; }

.underlined-text {
  color: #325899;
  font-size: 1.6rem;
  text-decoration: underline; }

.underlined-text-bold {
  color: #325899;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline; }

.filter-title {
  margin-bottom: 7px;
  color: #7B8FA7;
  font-size: 1.6rem; }

.center-childs {
  display: flex;
  justify-content: center;
  align-items: center; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.align-center {
  display: flex;
  align-items: center; }

.blue-button {
  background: #202b63; }

.red-button {
  background: #cb2524; }

.gray-buttons:hover {
  color: #FFF;
  background: rgba(0, 0, 0, 0.5); }

.full-img {
  width: 100%;
  height: 100%; }

.logo {
  color: #222933; }
  .logo img {
    margin-right: 7px; }

.select {
  display: block;
  position: relative;
  width: 100%;
  background: #FFF;
  color: #171E2B;
  font-size: 1.4rem;
  font-weight: 700; }

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none; }

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none; }

.new-select__list.on {
  display: block; }

.new-select__item span {
  display: block;
  padding: 10px 15px; }

.new-select__item span:hover {
  background: rgba(203, 37, 36, 0.8); }

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  opacity: 0.6;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.custom-select--show .custom-select__current::after {
  transform: rotate(-180deg);
  top: 40%; }

.tabs_triggers_header {
  margin-bottom: 2rem; }

.tabs_triggers_buttons_item {
  height: 100%;
  font-weight: bold;
  padding: 2rem 4rem;
  transition: all .3s; }
  .tabs_triggers_buttons_item--active {
    font-size: 1.6rem;
    color: #171E2B;
    background: #EEE; }
  .tabs_triggers_buttons_item:not(.tabs_triggers_buttons_item--active):hover {
    text-decoration: underline; }

.tabs_content {
  background: #EEE; }
  .tabs_content_wrapper_item {
    padding: 5rem 0;
    display: none; }
    .tabs_content_wrapper_item--active {
      display: block; }

.hat-carousel {
  display: flex;
  align-items: center;
  margin-bottom: 5rem; }
  .hat-carousel_header {
    flex-basis: 30%; }
  .hat-carousel_buttons {
    flex-basis: 70%; }
    .hat-carousel_buttons .hat-carousel_buttons_prev, .hat-carousel_buttons .hat-carousel_buttons_next {
      width: 4.5rem;
      height: 4.5rem;
      margin: 0 1rem;
      background: #EEE;
      cursor: pointer; }
      .hat-carousel_buttons .hat-carousel_buttons_prev svg, .hat-carousel_buttons .hat-carousel_buttons_next svg {
        width: 40%;
        height: 40%; }
      .hat-carousel_buttons .hat-carousel_buttons_prev:hover, .hat-carousel_buttons .hat-carousel_buttons_next:hover {
        background: rgba(203, 37, 36, 0.8); }
        .hat-carousel_buttons .hat-carousel_buttons_prev:hover svg, .hat-carousel_buttons .hat-carousel_buttons_next:hover svg {
          fill: #FFF; }
    .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled {
      opacity: .5; }
      .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled:hover, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled:hover {
        background: #EEE; }
        .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled:hover svg, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled:hover svg {
          fill: #7B8FA7; }
    .hat-carousel_buttons :active:not(.slick-disabled) {
      transform: scale(1.2); }

.typical-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px; }
  .typical-item:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4); }
  .typical-item > div {
    width: 100%; }
  .typical-item > div:not(.typical-item_picture):not(.typical-item_location) {
    padding: 1.5rem; }
  .typical-item_picture {
    height: 65%; }
    .typical-item_picture img {
      border-radius: 5px 5px 0 0; }
  .typical-item_date {
    font-size: 1.2rem;
    color: #9CAABB; }
  .typical-item_open a svg {
    margin: 0;
    fill: #9CAABB; }
    .typical-item_open a svg :hover {
      fill: #cb2524; }
    .typical-item_open a svg :active {
      transform: scale(1.1); }
  .typical-item_show-more {
    text-align: right; }
  .typical-item_location {
    color: #171E2B; }
  .typical-item_advantages_profit, .typical-item_advantages_yield, .typical-item_advantages_payback {
    line-height: 1.5; }
    .typical-item_advantages_profit span, .typical-item_advantages_yield span, .typical-item_advantages_payback span {
      color: #171E2B; }
  .typical-item_more {
    background: #ecf0f9; }
    .typical-item_more_sum span {
      color: #202B63;
      font-size: 3rem; }

.margin-item {
  margin: 2rem; }

.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.slick-list {
  overflow: hidden; }

.slick-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.slick-slide:active, .slick-slide:focus {
  border: none;
  outline: none; }

.noUi-target {
  height: 5px;
  background: #D1D3D6;
  border: none;
  box-shadow: none; }

.noUi-connect {
  background: #cb2524; }

.noUi-marker-normal, .noUi-marker-sub {
  display: none; }

.noUi-handle::after, .noUi-handle::before {
  display: none; }

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  background: #cb2524;
  box-shadow: none;
  border: none;
  border-radius: 50%; }

.noUi-pips .noUi-value-sub {
  font-size: 11px;
  color: #7B8FA7;
  left: 0 !important; }

.noUi-value-horizontal {
  transform: none; }

.noUi-pips-horizontal, .noUi-pips .noUi-value-sub {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-container_hat, .main-container_footer {
  padding: 2rem 0; }

.main-container > section:not(.no-padding) {
  padding: 5rem 0; }

@media (max-width: 1400px) {
  .main-container .headers {
    font-size: 1.8rem; }
  .main-container .hat-carousel_header {
    flex-basis: 40%; }
  .main-container .hat-carousel_buttons {
    flex-basis: 60%; } }

@media (max-width: 1200px) {
  .main-container .tabs_triggers_buttons_item {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media (max-width: 991px) {
  .main-container .centered, .main-container .not-centered, .main-container .full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%; } }

@media (max-width: 767px) {
  .main-container .hat-carousel_header {
    flex-basis: 100%;
    text-align: center; }
  .main-container .hat-carousel_buttons {
    display: none; }
  .main-container .tabs_triggers {
    flex-direction: column; }
    .main-container .tabs_triggers_header {
      margin-bottom: 5rem; }
    .main-container .tabs_triggers_buttons {
      margin-bottom: 1rem; }
      .main-container .tabs_triggers_buttons_item {
        padding: 1rem 1rem;
        font-size: 1.2rem; }
        .main-container .tabs_triggers_buttons_item--active {
          font-size: 1.4rem; } }

@media (max-width: 550px) {
  .main-container .tabs_buttons_item--active {
    font-size: 1.4rem;
    color: #171E2B;
    background: #EEE; }
  .main-container .tabs_buttons_item:not(.tabs_triggers_buttons_item--active):hover {
    text-decoration: underline; } }

.main-container_hat_phone, .main-container_hat_email {
  font-size: 1.6rem;
  font-weight: 700; }

.main-container_hat_address, .main-container_hat .profile-link {
  font-size: 1.2rem; }

.main-container_hat .profile-link {
  color: #171E2B;
  font-weight: 700;
  text-transform: uppercase; }
  .main-container_hat .profile-link:hover {
    text-decoration: underline; }

.main-container_hat_phone-call button {
  width: 18rem;
  padding: 1.5rem; }
  .main-container_hat_phone-call button svg {
    margin: 0;
    margin-right: 5px; }

@media (max-width: 1400px) {
  .main-container_hat_address {
    display: none; } }

@media (max-width: 1100px) {
  .main-container_hat_phone, .main-container_hat_email {
    display: none; } }

@media (max-width: 520px) {
  .main-container_hat_phone-call {
    display: none; } }

.main-container_nav {
  font-weight: 700;
  background: #EEE; }
  .main-container_nav ul {
    height: 100%;
    display: flex; }
    .main-container_nav ul :not(:last-child) li {
      border-right: 1px solid black;
      padding-right: 2rem; }
    .main-container_nav ul :not(:first-child) li {
      padding-left: 2rem; }
    .main-container_nav ul a {
      height: 100%;
      padding: 1.5rem 0;
      color: #1D1E20;
      font-size: 1.6rem; }
      .main-container_nav ul a:hover {
        color: #7B8FA7;
        text-decoration: underline; }
  @media (max-width: 991px) {
    .main-container_nav ul {
      justify-content: center; } }
  @media (max-width: 520px) {
    .main-container_nav {
      display: none; } }

.main-container_find-business {
  background: #EEE; }
  .main-container_find-business_container {
    height: 80rem;
    position: relative; }
    .main-container_find-business_container_info {
      flex-basis: 50%; }
      .main-container_find-business_container_info > div:not(:last-child) {
        margin-bottom: 2.5rem; }
      .main-container_find-business_container_info_subheader {
        font-size: 1.6rem; }
      .main-container_find-business_container_info_buttons {
        display: flex; }
        .main-container_find-business_container_info_buttons :first-child {
          margin-right: 1rem; }
    .main-container_find-business_container_crawlers {
      position: relative;
      flex-basis: 35%;
      height: 100%;
      background: url(./../../img/find-business/3-background.png);
      background-size: cover; }
      .main-container_find-business_container_crawlers_form {
        position: relative;
        width: 100%;
        height: 80%;
        padding: 6rem 4rem;
        background: #FFF;
        border-radius: 5px;
        position: absolute;
        right: calc(50%); }
        .main-container_find-business_container_crawlers_form .instrument-container {
          height: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .main-container_find-business_container_crawlers_form .instrument-container .instrument_value {
            margin-bottom: 3rem; }
            .main-container_find-business_container_crawlers_form .instrument-container .instrument_value_subheader {
              font-weight: 400; }
            .main-container_find-business_container_crawlers_form .instrument-container .instrument_value_field input[type="number"] {
              width: 100px;
              font-size: 1.4rem;
              text-align: right;
              border: none;
              background: none; }
          .main-container_find-business_container_crawlers_form .instrument-container .instrument_branch label {
            margin-bottom: 10px; }
        .main-container_find-business_container_crawlers_form .submit-button {
          position: absolute;
          top: calc(100% - 2.5rem);
          left: calc(50% - 12.5rem); }
          .main-container_find-business_container_crawlers_form .submit-button button {
            width: 25rem; }
    @media (max-width: 1400px) {
      .main-container_find-business_container_info_header {
        font-size: 4rem; }
      .main-container_find-business_container_info_subheader {
        font-size: 1.4rem; }
      .main-container_find-business_container_crawlers_form {
        width: 115%;
        right: calc(40%); } }
    @media (max-width: 1200px) {
      .main-container_find-business_container_crawlers {
        flex-basis: 50%;
        background: none; }
        .main-container_find-business_container_crawlers_form {
          position: inherit;
          width: 100%;
          right: 0; } }
    @media (max-width: 850px) {
      .main-container_find-business_container {
        height: auto;
        flex-direction: column; }
        .main-container_find-business_container_info {
          flex-basis: 40%;
          margin: 3rem 0; }
        .main-container_find-business_container_crawlers {
          width: 85%;
          height: 60rem;
          margin: 5rem 0; }
          .main-container_find-business_container_crawlers_form {
            height: 100%; } }
    @media (max-width: 500px) {
      .main-container_find-business_container_info_header {
        font-size: 2.5rem; }
      .main-container_find-business_container_info_buttons {
        flex-direction: column; }
        .main-container_find-business_container_info_buttons :first-child {
          margin: 0;
          margin-bottom: 2rem; }
      .main-container_find-business_container_crawlers {
        display: none; } }

.main-container_best-offers_options {
  display: flex; }
  .main-container_best-offers_options_menu {
    min-width: 20%; }
    .main-container_best-offers_options_menu_nav {
      font-weight: 700; }
      .main-container_best-offers_options_menu_nav ul a li {
        margin-bottom: 3rem;
        transition: .1s; }
      .main-container_best-offers_options_menu_nav ul .choosen-item {
        position: relative; }
        .main-container_best-offers_options_menu_nav ul .choosen-item li {
          font-size: 1.8rem;
          color: #1D1E20;
          margin-left: 4rem; }
        .main-container_best-offers_options_menu_nav ul .choosen-item :before {
          content: '';
          position: absolute;
          width: 3rem;
          height: .5rem;
          top: .8rem;
          left: .1rem;
          background: #cb2524; }
  .main-container_best-offers_options_slider .typical-item {
    margin: 2rem;
    margin-top: 0; }
  @media (max-width: 1450px) {
    .main-container_best-offers_options_menu {
      min-width: 25%; } }
  @media (max-width: 1150px) {
    .main-container_best-offers_options_menu {
      min-width: 30%; } }
  @media (max-width: 850px) {
    .main-container_best-offers_options_menu {
      min-width: 45%; } }
  @media (max-width: 620px) {
    .main-container_best-offers_options {
      flex-direction: column; }
      .main-container_best-offers_options_menu {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column; }
        .main-container_best-offers_options_menu_nav {
          width: 100%; }
      .main-container_best-offers_options_slider .typical-item_more_sum span {
        color: #202B63;
        font-size: 2.5rem; } }

.main-container_invest-top_form > div, .main-container_invest-bottom_form > div {
  flex-basis: 20%; }

.main-container_invest-top_form_profit_title, .main-container_invest-top_form_price-from_title, .main-container_invest-top_form_price-for_title, .main-container_invest-bottom_form_profit_title, .main-container_invest-bottom_form_price-from_title, .main-container_invest-bottom_form_price-for_title {
  font-weight: 400;
  margin-bottom: 7px; }

.main-container_invest-top_form_submit, .main-container_invest-bottom_form_submit {
  align-self: flex-end; }
  .main-container_invest-top_form_submit button, .main-container_invest-bottom_form_submit button {
    width: 100%; }

@media (max-width: 767px) {
  .main-container_invest-top_form, .main-container_invest-bottom_form {
    width: 100%;
    flex-direction: column; }
    .main-container_invest-top_form .select, .main-container_invest-bottom_form .select {
      width: 22rem;
      margin-bottom: 2rem; }
    .main-container_invest-top_form_submit, .main-container_invest-bottom_form_submit {
      align-self: inherit; } }

@media (max-width: 400px) {
  .main-container_invest-top, .main-container_invest-bottom {
    display: none; } }

.main-container_tips_content_item {
  width: 30rem; }
  .main-container_tips_content_item_info {
    padding-left: 2rem; }
    .main-container_tips_content_item_info_subheader {
      margin-bottom: 10px; }
  .main-container_tips_content_item svg {
    width: 7rem;
    height: 7rem;
    margin: 0;
    fill: #cb2524; }

@media (max-width: 1150px) {
  .main-container_tips_content_item_info_text {
    font-size: 12px; }
  .main-container_tips_content_item svg {
    width: 5rem;
    height: 5rem; } }

@media (max-width: 767px) {
  .main-container_tips_header {
    margin-bottom: 3rem; }
  .main-container_tips_content {
    flex-direction: column; }
    .main-container_tips_content_item {
      margin: 1rem 0; } }

.main-container_filter_header {
  margin-bottom: 3rem; }

.main-container_filter_form_container {
  display: flex; }
  .main-container_filter_form_container_long-radio :first-child, .main-container_filter_form_container_small-radio :first-child {
    margin-bottom: 10px; }
  .main-container_filter_form_container_long-radio {
    width: 70%;
    display: flex;
    flex-direction: column; }
  .main-container_filter_form_container_small-radio {
    width: 25%;
    display: flex;
    flex-direction: column; }
    .main-container_filter_form_container_small-radio_payback_radio_item:first-child:nth-last-child(4), .main-container_filter_form_container_small-radio_payback_radio_item:first-child:nth-last-child(4) ~ .main-container_filter_form_container_small-radio_payback_radio_item {
      width: 25%; }

.main-container_filter_form_branches {
  margin: 3rem 0; }
  .main-container_filter_form_branches_checkbox {
    display: flex;
    flex-wrap: wrap; }
    .main-container_filter_form_branches_checkbox_item {
      width: 33%;
      padding: 5px 0;
      font-size: 1.4rem;
      color: #7B8FA7;
      display: flex; }
      .main-container_filter_form_branches_checkbox_item label {
        padding: 0 7px; }
      .main-container_filter_form_branches_checkbox_item input[type="checkbox"] {
        width: 2rem;
        height: 2rem; }

.main-container_filter_form_results_show-offers_clear-filter {
  margin-right: 15px; }

.main-container_filter .filter-radio {
  display: flex; }
  .main-container_filter .filter-radio :first-child label {
    border-radius: 5px 0 0 5px; }
  .main-container_filter .filter-radio :last-child label {
    border-radius: 0 5px 5px 0; }
  .main-container_filter .filter-radio_item {
    width: calc(100%/6);
    display: inline-block; }
    .main-container_filter .filter-radio_item input[type="radio"] {
      display: none; }
    .main-container_filter .filter-radio_item label {
      width: 100%;
      padding: 1.5rem;
      background: #EEE;
      text-align: center;
      color: #171E2B;
      font-size: 1.2rem;
      user-select: none; }
    .main-container_filter .filter-radio_item input[type="radio"]:checked + label {
      background: #cb2524;
      color: #FFF; }

@media (max-width: 1300px) {
  .main-container_filter_form_container {
    flex-direction: column;
    align-items: flex-start; }
    .main-container_filter_form_container_long-radio {
      width: 100%; }
    .main-container_filter_form_container_small-radio {
      width: 40%; }
  .main-container_filter_form_branches_checkbox_item {
    width: 49%; } }

@media (max-width: 700px) {
  .main-container_filter {
    display: none; } }

.main-container_help_container_items {
  width: 100%;
  flex-wrap: wrap; }
  .main-container_help_container_items_item {
    flex-basis: 20%;
    height: 40rem;
    margin: 2rem;
    background: #FFF; }
    .main-container_help_container_items_item .typical-item_picture {
      height: 50%; }
    .main-container_help_container_items_item .typical-item_subheader {
      height: auto; }

@media (max-width: 1500px) {
  .main-container_help_container_items_item {
    flex-basis: 25%; } }

@media (max-width: 1200px) {
  .main-container_help_container_items_item {
    flex-basis: 35%; } }

@media (max-width: 767px) {
  .main-container_help_container_items {
    justify-content: space-between; }
    .main-container_help_container_items_item {
      flex-basis: 42%; } }

@media (max-width: 575px) {
  .main-container_help_container_items {
    justify-content: center; }
    .main-container_help_container_items_item {
      flex-basis: 65%; } }

@media (max-width: 400px) {
  .main-container_help_container_items_item {
    flex-basis: 90%; } }

.main-container_work-with_carousel_item {
  width: 20rem;
  height: 9rem; }

.main-container_reviews_hat {
  display: flex; }
  .main-container_reviews_hat_header {
    flex-basis: 30%;
    color: #171E2B;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase; }
  .main-container_reviews_hat_buttons {
    flex-basis: 70%;
    display: flex;
    justify-content: center; }
    .main-container_reviews_hat_buttons_button {
      width: 4.7rem;
      height: 4.7rem;
      margin: 1rem;
      background: #EEEFEF;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-container_reviews_hat_buttons_button:active {
      transform: scale(1.2); }
    .main-container_reviews_hat_buttons_button:hover {
      background: #dfe4ed; }
      .main-container_reviews_hat_buttons_button:hover svg {
        transition: all .5s;
        fill: #000;
        transform: scale(1.5); }

.main-container_reviews_carousel_item {
  width: 29rem;
  height: 30rem; }
  .main-container_reviews_carousel_item .typical-item_subheader {
    height: auto; }
  .main-container_reviews_carousel_item .typical-item_author {
    color: #171E2B; }

.main-container_news_container_item {
  width: 33rem;
  height: 35rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: space-between; }
  .main-container_news_container_item_picture {
    width: 100%;
    height: 60%; }
    .main-container_news_container_item_picture img {
      width: 100%;
      height: 100%; }

.main-container_news_container_watch-all {
  margin: 7rem 0; }
  .main-container_news_container_watch-all button {
    color: #171E2B;
    border: 1px solid black; }

@media (max-width: 1400px) {
  .main-container_news_container_item {
    width: 25rem;
    height: 27rem; }
    .main-container_news_container_item .typical-item_subheader {
      font-size: 1.3rem; } }

@media (max-width: 767px) {
  .main-container_news_header {
    margin-bottom: 3rem; }
  .main-container_news_container {
    flex-direction: column; }
    .main-container_news_container_item {
      width: 30rem;
      height: 32rem;
      margin: 2rem 0; }
      .main-container_news_container_item .typical-item_subheader {
        font-size: 1.4rem; } }

.main-container_how-works_how-sell {
  flex-wrap: wrap; }
  .main-container_how-works_how-sell_item {
    width: 24rem;
    height: 30rem;
    background: #FFF; }
    .main-container_how-works_how-sell_item .typical-item_subheader {
      height: 40%; }

@media (max-width: 767px) {
  .main-container_how-works_how-sell {
    justify-content: center; }
    .main-container_how-works_how-sell_item {
      width: 27rem;
      height: 32rem;
      margin: 2rem; } }

.main-container_free-call {
  color: #FFF;
  background: #202b63; }
  .main-container_free-call_container_header {
    margin-bottom: 3rem; }
  .main-container_free-call_container_form_radio {
    align-self: flex-end; }
    .main-container_free-call_container_form_radio_buy .buy-sell_label, .main-container_free-call_container_form_radio_sell .buy-sell_label {
      cursor: pointer;
      display: flex;
      align-items: center; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label input[type="radio"], .main-container_free-call_container_form_radio_sell .buy-sell_label input[type="radio"] {
        display: none; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label_fake, .main-container_free-call_container_form_radio_sell .buy-sell_label_fake {
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin-right: 10px;
        border: 1px solid #FFF;
        border-radius: 50%; }
        .main-container_free-call_container_form_radio_buy .buy-sell_label_fake::before, .main-container_free-call_container_form_radio_sell .buy-sell_label_fake::before {
          content: '';
          position: absolute;
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: #cb2524;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: .3s; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label input[type="radio"]:checked + .buy-sell_label_fake::before, .main-container_free-call_container_form_radio_sell .buy-sell_label input[type="radio"]:checked + .buy-sell_label_fake::before {
        opacity: 1; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label_text, .main-container_free-call_container_form_radio_sell .buy-sell_label_text {
        font-size: 1.4rem; }
    .main-container_free-call_container_form_radio_buy {
      margin-bottom: 10px; }
  .main-container_free-call_container_form_name label, .main-container_free-call_container_form_phone label {
    font-size: 1.6rem;
    margin-bottom: 7px; }
  .main-container_free-call_container_form_name input, .main-container_free-call_container_form_phone input {
    width: 26rem;
    height: 5rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #171E2B; }
  .main-container_free-call_container_form_submit {
    align-self: flex-end; }
    .main-container_free-call_container_form_submit button {
      width: 26rem; }
  @media (max-width: 1300px) {
    .main-container_free-call_container_form .buy-sell_label_fake {
      width: 1.5rem;
      height: 1.5rem; }
    .main-container_free-call_container_form .buy-sell_label_text {
      font-size: 1.2rem; }
    .main-container_free-call_container_form_name input, .main-container_free-call_container_form_phone input {
      width: 19rem; }
    .main-container_free-call_container_form_submit button {
      width: 19rem; } }
  @media (max-width: 767px) {
    .main-container_free-call_container_header {
      text-align: center; }
    .main-container_free-call_container_form {
      flex-direction: column; }
      .main-container_free-call_container_form > div {
        margin: 1rem 0; }
      .main-container_free-call_container_form_radio, .main-container_free-call_container_form_submit {
        align-self: inherit; }
      .main-container_free-call_container_form .buy-sell_label_fake {
        width: 2rem;
        height: 2rem; }
      .main-container_free-call_container_form .buy-sell_label_text {
        font-size: 1.4rem; }
      .main-container_free-call_container_form_name input, .main-container_free-call_container_form_phone input {
        width: 22rem; }
      .main-container_free-call_container_form_submit button {
        width: 22rem; } }

.main-container_footer {
  color: #FFF;
  background: #1d1e20; }
  .main-container_footer_content_nav ul {
    display: flex; }
    .main-container_footer_content_nav ul :not(:last-child) {
      padding-right: 2rem; }
    .main-container_footer_content_nav ul a {
      font-size: 1.6rem; }
      .main-container_footer_content_nav ul a:hover {
        color: #7B8FA7;
        text-decoration: underline; }
  .main-container_footer_content_logo_text {
    color: #7B8FA7; }
  .main-container_footer_content_contacts_phone, .main-container_footer_content_contacts_email {
    padding: 5px 0;
    display: flex;
    align-items: center; }
    .main-container_footer_content_contacts_phone_text, .main-container_footer_content_contacts_email_text {
      color: #FFF;
      font-weight: bold; }
  .main-container_footer_content_networks {
    display: flex;
    align-items: center; }
    .main-container_footer_content_networks_item {
      width: 3rem;
      height: 3rem;
      margin: 0 1rem;
      background: #FFF;
      border-radius: 4px; }
      .main-container_footer_content_networks_item:hover {
        transform: scale(1.05); }
  .main-container_footer_rights {
    padding: 1rem 0;
    color: #7B8FA7;
    font-size: 1.2rem; }
    .main-container_footer_rights a {
      color: #7B8FA7; }
  @media (max-width: 1300px) {
    .main-container_footer_content_nav {
      display: none; } }
  @media (max-width: 767px) {
    .main-container_footer hr {
      display: none; }
    .main-container_footer_rights {
      display: none; } }
  @media (max-width: 575px) {
    .main-container_footer_content_contacts {
      display: none; } }
