@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria.woff);
  font-weight: 400; }

@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria-Bold.woff);
  font-weight: 700; }

@font-face {
  font-family: "Geometria";
  src: url(./../../fonts/Geometria/Geometria-ExtraBold.woff);
  font-weight: 800; }

*, ::before, ::after {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geometria', "Arial"; }

html {
  font-size: 10px;
  font-weight: 400; }
  @media (max-width: 991px) {
    html {
      font-size: 9px; } }

body.lock-scroll {
  overflow: hidden; }

a {
  color: #FFF;
  text-decoration: none; }

ul {
  list-style: none; }

label {
  display: block;
  cursor: pointer; }

svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  fill: #7B8FA7; }

hr {
  border: none;
  height: 1px;
  background: #7B8FA7; }

button {
  height: 53px;
  padding: 1.8rem 3rem;
  color: #FFF;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background: none;
  transition: .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  button:active {
    transform: scale(1.05); }

.centered {
  width: 70%;
  margin: 0 auto; }

.not-centered {
  width: 85%;
  margin-left: 15%; }

.headers {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.extra-headers {
  color: #171E2B;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1; }

.subheaders {
  font-size: 1.6rem;
  font-weight: 700;
  color: #171E2B; }

.plain-text {
  font-size: 1.4rem;
  color: #7B8FA7; }

.plain-text-2 {
  font-size: 1.4rem;
  color: #9CAABB; }

.underlined-text {
  color: #325899;
  font-size: 1.6rem;
  text-decoration: underline; }

.underlined-text-bold {
  color: #325899;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline; }

.filter-title {
  margin-bottom: 7px;
  color: #7B8FA7;
  font-size: 1.6rem; }

.center-childs {
  display: flex;
  justify-content: center;
  align-items: center; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.align-center {
  display: flex;
  align-items: center; }

.blue-button {
  background: #202b63; }
  .blue-button:hover {
    background: #cb2524; }

.red-button {
  background: #cb2524; }
  .red-button:hover {
    background: #202b63; }

.email-icon svg {
  margin-top: 4px; }

.full-img {
  width: 100%;
  height: 100%; }

.logo {
  color: #222933; }
  .logo img {
    margin-right: 7px; }

.contacts {
  display: flex; }
  .contacts > div {
    display: flex;
    align-items: center;
    padding: 5px; }
  .contacts .subheaders {
    cursor: pointer; }
    .contacts .subheaders:hover {
      text-decoration: underline; }

.select {
  display: block;
  position: relative;
  width: 100%;
  height: 53px;
  border-radius: 5px;
  background: #FFF;
  color: #171E2B;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center; }

.new-select {
  position: relative;
  padding: 0 15px;
  cursor: pointer;
  user-select: none; }

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none; }

.new-select__list.on {
  display: block; }

.new-select__item span {
  display: block;
  padding: 10px 15px; }

.new-select__item span:hover {
  background: rgba(203, 37, 36, 0.8); }

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  opacity: 0.6;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.custom-select--show .custom-select__current::after {
  transform: rotate(-180deg);
  top: 40%; }

.tabs_triggers_header {
  margin-bottom: 4rem; }

.tabs_triggers_buttons {
  align-self: flex-end;
  margin-bottom: 2rem; }
  .tabs_triggers_buttons_item {
    height: 100%;
    font-weight: bold;
    padding: 2rem 2rem;
    margin: 0 .5rem;
    border-radius: 5px 5px 0 0;
    background: #ecf0f9;
    transition: all .3s; }
    .tabs_triggers_buttons_item--active {
      font-size: 1.6rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      color: #171E2B;
      background: #EEE; }
    .tabs_triggers_buttons_item:not(.tabs_triggers_buttons_item--active):hover {
      text-decoration: underline; }

.tabs_content {
  background: #EEE; }
  .tabs_content_wrapper_item {
    padding: 7rem 0;
    display: none; }
    .tabs_content_wrapper_item--active {
      display: block; }

.hat-carousel {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  .hat-carousel_header {
    flex-basis: 30%; }
  .hat-carousel_buttons, .hat-carousel_buttons-bottom {
    flex-basis: 70%; }
    .hat-carousel_buttons .hat-carousel_buttons_prev, .hat-carousel_buttons .hat-carousel_buttons_next, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev, .hat-carousel_buttons-bottom .hat-carousel_buttons_next {
      width: 4.5rem;
      height: 4.5rem;
      margin: 0 1rem;
      border-radius: 5px;
      background: #EEE;
      cursor: pointer; }
      .hat-carousel_buttons .hat-carousel_buttons_prev svg, .hat-carousel_buttons .hat-carousel_buttons_next svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_next svg {
        width: 40%;
        height: 40%; }
      .hat-carousel_buttons .hat-carousel_buttons_prev:hover, .hat-carousel_buttons .hat-carousel_buttons_next:hover, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev:hover, .hat-carousel_buttons-bottom .hat-carousel_buttons_next:hover {
        background: rgba(203, 37, 36, 0.8); }
        .hat-carousel_buttons .hat-carousel_buttons_prev:hover svg, .hat-carousel_buttons .hat-carousel_buttons_next:hover svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev:hover svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_next:hover svg {
          fill: #FFF; }
    .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev.slick-disabled, .hat-carousel_buttons-bottom .hat-carousel_buttons_next.slick-disabled {
      opacity: .5; }
      .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled:hover, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled:hover, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev.slick-disabled:hover, .hat-carousel_buttons-bottom .hat-carousel_buttons_next.slick-disabled:hover {
        background: #EEE; }
        .hat-carousel_buttons .hat-carousel_buttons_prev.slick-disabled:hover svg, .hat-carousel_buttons .hat-carousel_buttons_next.slick-disabled:hover svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_prev.slick-disabled:hover svg, .hat-carousel_buttons-bottom .hat-carousel_buttons_next.slick-disabled:hover svg {
          fill: #7B8FA7; }
    .hat-carousel_buttons :active:not(.slick-disabled), .hat-carousel_buttons-bottom :active:not(.slick-disabled) {
      transform: scale(1.2); }
  .hat-carousel_buttons-bottom {
    padding-top: 15px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end; }

.typical-item {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }
  .typical-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
  .typical-item > div {
    width: 100%; }
  .typical-item > div:not(.typical-item_picture) {
    padding: 0 1.5rem; }
  .typical-item_picture {
    height: 65%;
    margin-bottom: 15px; }
    .typical-item_picture img {
      border-radius: 5px 5px 0 0; }
  .typical-item_date {
    font-size: 1.2rem;
    color: #9CAABB; }
  .typical-item_open a svg {
    margin: 0;
    fill: #9CAABB; }
    .typical-item_open a svg :hover {
      fill: #cb2524; }
    .typical-item_open a svg :active {
      transform: scale(1.1); }
  .typical-item_show-more {
    padding: 1.5rem;
    text-align: right; }
  .typical-item_location {
    color: #171E2B;
    margin-top: 9px; }
    .typical-item_location svg {
      margin: 0; }
  .typical-item_advantages {
    height: 50px;
    margin: 1.5rem 0; }
    .typical-item_advantages_profit span, .typical-item_advantages_yield span, .typical-item_advantages_payback span {
      color: #171E2B; }
  .typical-item_more {
    height: 100px;
    background: #ecf0f9;
    border-radius: 0 0 5px 5px; }
    .typical-item_more_sum span {
      color: #202B63;
      font-size: 3rem; }
    .typical-item_more_button button {
      width: 130px; }

.margin-item {
  margin: 2rem; }

.slick-track {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.slick-list {
  overflow: hidden; }

.slick-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.slick-slide:active, .slick-slide:focus {
  border: none;
  outline: none; }

.noUi-target {
  height: 5px;
  background: #D1D3D6;
  border: none;
  box-shadow: none; }

.noUi-connect {
  background: #cb2524; }

.noUi-marker-normal, .noUi-marker-sub {
  display: none; }

.noUi-handle::after, .noUi-handle::before {
  display: none; }

.noUi-horizontal .noUi-handle {
  top: -9px;
  width: 22px;
  height: 22px;
  background: #cb2524;
  box-shadow: none;
  border: none;
  border-radius: 50%; }
  .noUi-horizontal .noUi-handle:focus {
    outline: none; }

.noUi-pips .noUi-value-sub {
  font-size: 11px;
  color: #7B8FA7;
  left: 0 !important; }

.noUi-value-horizontal {
  transform: none; }

.noUi-pips-horizontal, .noUi-pips .noUi-value-sub {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 1450px) {
  .main-container .headers {
    font-size: 1.8rem; }
  .main-container .hat-carousel_header {
    flex-basis: 40%; }
  .main-container .hat-carousel_buttons {
    flex-basis: 60%; } }

@media (max-width: 1200px) {
  .main-container .tabs_triggers_buttons_item {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media (max-width: 991px) {
  .main-container .centered, .main-container .not-centered {
    width: 95%;
    margin: 0 auto; }
  .main-container .hat-carousel {
    margin-bottom: 50px; }
  .main-container .tabs_triggers {
    flex-direction: column; }
    .main-container .tabs_triggers_header {
      text-align: center; }
    .main-container .tabs_triggers_header {
      margin-bottom: 5rem; }
    .main-container .tabs_triggers_buttons {
      align-self: inherit; } }

@media (max-width: 767px) {
  .main-container .hat-carousel_header {
    flex-basis: 100%;
    text-align: center; }
  .main-container .hat-carousel_buttons {
    display: none; } }

.main-container_hat {
  width: 100%;
  background: #FFF;
  transition: .5s; }
  .main-container_hat_wrapper {
    padding: 1.5rem 0; }
  .main-container_hat .burger {
    position: relative;
    z-index: 101;
    width: 60px;
    height: 60px;
    display: none; }
    .main-container_hat .burger_button:hover .burger_lines {
      filter: brightness(0.7); }
    .main-container_hat .burger_lines, .main-container_hat .burger_lines::after, .main-container_hat .burger_lines::before {
      position: absolute;
      width: 25px;
      height: 4px;
      background: #1D1E20; }
    .main-container_hat .burger_lines {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .main-container_hat .burger_lines::before {
      content: '';
      top: -7px;
      transition: .5s; }
    .main-container_hat .burger_lines::after {
      content: '';
      top: 7px;
      transition: .5s; }
    .main-container_hat .burger_active .burger_lines {
      background: rgba(0, 0, 0, 0.01); }
    .main-container_hat .burger_active .burger_lines::before {
      top: 0;
      transform: rotate(45deg);
      background: #FFF; }
    .main-container_hat .burger_active .burger_lines::after {
      top: 0;
      transform: rotate(-45deg);
      background: #FFF; }
  .main-container_hat .burger-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 45%;
    height: 100vh;
    padding: 3rem 5rem;
    background: #1D1E20;
    transform: translateX(-101%);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-container_hat .burger-nav ul {
      height: 50%;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .main-container_hat .burger-nav_contacts {
      padding-top: 6rem;
      flex-direction: column; }
      .main-container_hat .burger-nav_contacts_phone, .main-container_hat .burger-nav_contacts_email, .main-container_hat .burger-nav_contacts_address {
        font-size: 1.6rem; }
        .main-container_hat .burger-nav_contacts_phone_text, .main-container_hat .burger-nav_contacts_email_text, .main-container_hat .burger-nav_contacts_address_text {
          color: #FFF; }
      .main-container_hat .burger-nav_contacts svg {
        margin-left: 0;
        width: 30px;
        height: 30px; }
    .main-container_hat .burger-nav_overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1; }
  .main-container_hat .active-nav {
    transform: translateX(0%); }
    .main-container_hat .active-nav .burger-nav_overlay {
      display: block; }
  .main-container_hat_address, .main-container_hat .profile-link {
    font-size: 1.2rem; }
  .main-container_hat .profile-link {
    color: #171E2B;
    font-weight: 700;
    text-transform: uppercase; }
    .main-container_hat .profile-link:hover {
      text-decoration: underline; }
  .main-container_hat_phone-call button {
    width: 18rem;
    padding: 1.5rem; }
    .main-container_hat_phone-call button svg {
      margin: 0;
      margin-right: 5px; }
  @media (max-width: 1450px) {
    .main-container_hat_address {
      display: none; } }
  @media (max-width: 1250px) {
    .main-container_hat_contacts {
      flex-direction: column; } }
  @media (min-width: 991px) {
    .main-container_hat .active-nav {
      display: none; } }
  @media (max-width: 991px) {
    .main-container_hat .burger {
      display: block; }
    .main-container_hat_contacts {
      display: none; } }
  @media (max-width: 767px) {
    .main-container_hat .burger-nav {
      width: 60%; }
    .main-container_hat_contacts {
      display: none; } }
  @media (max-width: 575px) {
    .main-container_hat .burger-nav {
      width: 100%; }
    .main-container_hat_phone-call {
      display: none; } }

.main-container_find-business {
  background: #EEE; }
  .main-container_find-business_content {
    height: 68rem; }
    .main-container_find-business_content_container {
      position: relative;
      flex-basis: 65%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main-container_find-business_content_container_nav {
        position: absolute;
        top: 0;
        left: 0; }
        .main-container_find-business_content_container_nav ul {
          height: 100%;
          display: flex; }
          .main-container_find-business_content_container_nav ul :not(:last-child) li {
            border-right: 1px solid black;
            padding-right: 2rem; }
          .main-container_find-business_content_container_nav ul :not(:first-child) li {
            padding-left: 2rem; }
          .main-container_find-business_content_container_nav ul a {
            height: 100%;
            padding: 1.5rem 0;
            color: #1D1E20; }
            .main-container_find-business_content_container_nav ul a:hover {
              color: #7B8FA7;
              text-decoration: underline; }
      .main-container_find-business_content_container_info {
        width: 50rem; }
        .main-container_find-business_content_container_info_header {
          margin-bottom: 2.5rem; }
        .main-container_find-business_content_container_info_subheader {
          line-height: 1.5;
          margin-bottom: 5rem; }
        .main-container_find-business_content_container_info_buttons {
          display: flex; }
          .main-container_find-business_content_container_info_buttons :first-child {
            margin-right: 1.4rem; }
          .main-container_find-business_content_container_info_buttons button {
            width: 20rem; }
    .main-container_find-business_content_crawlers {
      position: relative;
      width: 62rem;
      height: 100%;
      background: url(./../../img/find-business/3-background.png) no-repeat;
      background-size: cover; }
      .main-container_find-business_content_crawlers_form {
        width: 45rem;
        height: 57rem;
        padding: 6rem 4rem;
        background: #FFF;
        border-radius: 5px;
        position: absolute;
        right: calc(60%); }
        .main-container_find-business_content_crawlers_form .instrument-container {
          height: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .main-container_find-business_content_crawlers_form .instrument-container .select {
            background: #EEE; }
          .main-container_find-business_content_crawlers_form .instrument-container .instrument_value {
            margin-bottom: 3rem; }
            .main-container_find-business_content_crawlers_form .instrument-container .instrument_value_subheader {
              font-weight: 400; }
            .main-container_find-business_content_crawlers_form .instrument-container .instrument_value_field input[type="text"] {
              width: 100px;
              font-size: 1.4rem;
              text-align: right;
              border: none;
              background: none; }
          .main-container_find-business_content_crawlers_form .instrument-container .instrument_select {
            display: none; }
          .main-container_find-business_content_crawlers_form .instrument-container .instrument_branch label {
            margin-bottom: 10px; }
        .main-container_find-business_content_crawlers_form .submit-button {
          position: absolute;
          top: calc(100% - 2.65rem);
          left: calc(50% - 12.5rem); }
          .main-container_find-business_content_crawlers_form .submit-button button {
            width: 25rem; }
  @media (max-width: 1500px) {
    .main-container_find-business_content_container_info {
      width: 40rem; }
      .main-container_find-business_content_container_info_header {
        font-size: 4rem; }
      .main-container_find-business_content_container_info_buttons button {
        width: 18.5rem; }
    .main-container_find-business_content_crawlers {
      width: 40rem; }
      .main-container_find-business_content_crawlers_form {
        right: 40%; } }
  @media (max-width: 1200px) {
    .main-container_find-business_content_container_nav ul {
      font-size: 1.4rem; }
    .main-container_find-business_content_crawlers {
      background: 0; }
      .main-container_find-business_content_crawlers_form {
        width: 43rem;
        right: 0; } }
  @media (max-width: 991px) {
    .main-container_find-business {
      padding: 3rem 0; }
      .main-container_find-business_content_container_nav {
        display: none; }
      .main-container_find-business_content_crawlers_form {
        min-width: 50rem; } }
  @media (max-width: 900px) {
    .main-container_find-business_content {
      height: auto;
      text-align: center;
      flex-direction: column; }
      .main-container_find-business_content_container {
        margin-top: 3rem; }
      .main-container_find-business_content_crawlers {
        width: 100%;
        padding: 5rem 0; }
        .main-container_find-business_content_crawlers_form {
          margin: 0 auto;
          position: inherit; } }
  @media (max-width: 500px) {
    .main-container_find-business_content_crawlers_form {
      width: 100%;
      min-width: auto;
      padding: 2rem; }
      .main-container_find-business_content_crawlers_form .instrument-container .instrument .instrument_value {
        margin: 10px;
        justify-content: center; }
        .main-container_find-business_content_crawlers_form .instrument-container .instrument .instrument_value_field {
          display: none; }
      .main-container_find-business_content_crawlers_form .instrument-container .instrument_select {
        display: block; }
      .main-container_find-business_content_crawlers_form .instrument-container .instrument #sum-slider, .main-container_find-business_content_crawlers_form .instrument-container .instrument #time-slider, .main-container_find-business_content_crawlers_form .instrument-container .instrument #profit-slider {
        display: none; } }
  @media (max-width: 420px) {
    .main-container_find-business_content_container_info {
      width: 100%; }
      .main-container_find-business_content_container_info_header {
        font-size: 2.5rem; }
      .main-container_find-business_content_container_info_buttons {
        flex-direction: column;
        align-items: center; }
        .main-container_find-business_content_container_info_buttons :first-child {
          margin: 0;
          margin-bottom: 9px; } }

.main-container_best-offers {
  padding: 5rem 0; }
  .main-container_best-offers_options {
    display: flex; }
    .main-container_best-offers_options_menu {
      min-width: 25%; }
      .main-container_best-offers_options_menu_nav {
        font-weight: 700; }
        .main-container_best-offers_options_menu_nav ul a li {
          margin-bottom: 3rem;
          transition: .1s; }
        .main-container_best-offers_options_menu_nav ul .choosen-item {
          position: relative; }
          .main-container_best-offers_options_menu_nav ul .choosen-item li {
            font-size: 1.8rem;
            color: #1D1E20;
            margin-left: 4rem; }
          .main-container_best-offers_options_menu_nav ul .choosen-item ::before {
            content: '';
            position: absolute;
            width: 3rem;
            height: .5rem;
            top: .8rem;
            left: .1rem;
            background: #cb2524; }
    .main-container_best-offers_options_slider .typical-item {
      margin: 2rem;
      margin-top: 0; }
    @media (max-width: 1450px) {
      .main-container_best-offers_options_menu {
        min-width: 30%; } }
    @media (max-width: 1150px) {
      .main-container_best-offers_options_menu {
        min-width: 35%; } }
    @media (max-width: 700px) {
      .main-container_best-offers_options_menu {
        min-width: 42%; }
      .main-container_best-offers_options_slider .typical-item_more_sum span {
        font-size: 2.5rem; }
      .main-container_best-offers_options_slider .typical-item_more_button button {
        width: 13rem; } }
    @media (max-width: 600px) {
      .main-container_best-offers_options {
        flex-direction: column; }
        .main-container_best-offers_options_menu {
          width: 100%;
          margin-bottom: 2rem; } }

.main-container_invest-top, .main-container_invest-bottom {
  padding: 5rem 0; }
  .main-container_invest-top .tabs_content_wrapper_item, .main-container_invest-bottom .tabs_content_wrapper_item {
    padding-top: 4.5rem; }
  .main-container_invest-top_form > div, .main-container_invest-bottom_form > div {
    flex-basis: 20%; }
  .main-container_invest-top_form_profit, .main-container_invest-top_form_price-from, .main-container_invest-top_form_price-for, .main-container_invest-bottom_form_profit, .main-container_invest-bottom_form_price-from, .main-container_invest-bottom_form_price-for {
    min-width: 17rem; }
    .main-container_invest-top_form_profit_title, .main-container_invest-top_form_price-from_title, .main-container_invest-top_form_price-for_title, .main-container_invest-bottom_form_profit_title, .main-container_invest-bottom_form_price-from_title, .main-container_invest-bottom_form_price-for_title {
      font-weight: 400;
      margin-bottom: 7px; }
  .main-container_invest-top_form_submit, .main-container_invest-bottom_form_submit {
    align-self: flex-end; }
    .main-container_invest-top_form_submit button, .main-container_invest-bottom_form_submit button {
      width: 26rem; }
  @media (max-width: 1200px) {
    .main-container_invest-top .tabs_triggers_buttons_item, .main-container_invest-bottom .tabs_triggers_buttons_item {
      margin: 0;
      font-size: 1.3rem;
      padding-left: .7rem;
      padding-right: .7rem; } }
  @media (max-width: 991px) {
    .main-container_invest-top .tabs_triggers_buttons_item, .main-container_invest-bottom .tabs_triggers_buttons_item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 1.6rem;
      margin: 0 1rem; }
    .main-container_invest-top_form, .main-container_invest-bottom_form {
      flex-direction: column; }
      .main-container_invest-top_form > div, .main-container_invest-bottom_form > div {
        width: 26rem; }
      .main-container_invest-top_form > div:not(:last-child), .main-container_invest-bottom_form > div:not(:last-child) {
        margin-bottom: 20px; }
      .main-container_invest-top_form_submit, .main-container_invest-bottom_form_submit {
        align-self: normal;
        margin: 0 auto; } }
  @media (max-width: 450px) {
    .main-container_invest-top .tabs_triggers_buttons_item, .main-container_invest-bottom .tabs_triggers_buttons_item {
      margin: 0;
      font-size: 1.2rem; } }

.main-container_tips {
  padding: 5rem 0; }
  .main-container_tips_header {
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 3.5rem; }
  .main-container_tips_content {
    flex-wrap: wrap; }
    .main-container_tips_content_item {
      width: 32rem;
      padding: 4rem 1rem 4rem 2rem;
      margin: 1rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); }
      .main-container_tips_content_item_info_subheader {
        margin-bottom: 12px; }
      .main-container_tips_content_item svg {
        width: 7rem;
        height: 7rem;
        margin: 0;
        margin-right: 30px;
        fill: #cb2524; }

.main-container_filter {
  padding: 5rem 0; }
  .main-container_filter_form_container {
    margin-top: 3rem;
    display: flex; }
    .main-container_filter_form_container_long-radio :first-child, .main-container_filter_form_container_small-radio :first-child {
      margin-bottom: 10px; }
    .main-container_filter_form_container_long-radio {
      width: 70%;
      display: flex;
      flex-direction: column; }
      .main-container_filter_form_container_long-radio_invest_select .select, .main-container_filter_form_container_long-radio_profit_select .select {
        background: #EEE;
        display: none; }
    .main-container_filter_form_container_small-radio {
      width: 25%;
      display: flex;
      flex-direction: column; }
      .main-container_filter_form_container_small-radio_city_select .select {
        background: #EEE; }
      .main-container_filter_form_container_small-radio_payback_radio_item:first-child:nth-last-child(4), .main-container_filter_form_container_small-radio_payback_radio_item:first-child:nth-last-child(4) ~ .main-container_filter_form_container_small-radio_payback_radio_item {
        width: 25%; }
  .main-container_filter_form_branches {
    margin: 3.5rem 0; }
    .main-container_filter_form_branches_checkbox {
      display: flex;
      flex-wrap: wrap; }
      .main-container_filter_form_branches_checkbox_item {
        width: 33%;
        padding: 8px 0;
        font-size: 1.4rem;
        color: #7B8FA7;
        display: flex; }
        .main-container_filter_form_branches_checkbox_item label {
          padding: 0 6px; }
        .main-container_filter_form_branches_checkbox_item input[type="checkbox"] {
          width: 2rem;
          height: 2rem; }
  .main-container_filter_form_results_show-offers_clear-filter {
    margin-right: 15px; }
  .main-container_filter .filter-radio {
    display: flex; }
    .main-container_filter .filter-radio :first-child label {
      border-radius: 5px 0 0 5px; }
    .main-container_filter .filter-radio :last-child label {
      border-radius: 0 5px 5px 0; }
    .main-container_filter .filter-radio_item {
      width: calc(100%/6);
      display: inline-block; }
      .main-container_filter .filter-radio_item input[type="radio"] {
        display: none; }
      .main-container_filter .filter-radio_item label {
        width: 100%;
        height: 53px;
        padding: 1.5rem;
        background: #EEE;
        text-align: center;
        color: #171E2B;
        font-size: 1.2rem;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center; }
      .main-container_filter .filter-radio_item input[type="radio"]:checked + label {
        background: #cb2524;
        color: #FFF; }
  @media (max-width: 1375px) {
    .main-container_filter_form_container {
      flex-direction: column;
      align-items: flex-start; }
      .main-container_filter_form_container_long-radio {
        width: 100%; }
      .main-container_filter_form_container_small-radio {
        width: 100%;
        padding-top: 10px;
        justify-content: space-between;
        flex-direction: row; }
        .main-container_filter_form_container_small-radio_city, .main-container_filter_form_container_small-radio_payback {
          flex-basis: 45%; }
    .main-container_filter_form_branches_checkbox_item {
      width: 49%; } }
  @media (max-width: 767px) {
    .main-container_filter_form_container_long-radio {
      width: 100%;
      flex-direction: row;
      justify-content: space-between; }
      .main-container_filter_form_container_long-radio_invest, .main-container_filter_form_container_long-radio_profit {
        flex-basis: 45%;
        justify-content: space-between; }
        .main-container_filter_form_container_long-radio_invest_radio.filter-radio, .main-container_filter_form_container_long-radio_profit_radio.filter-radio {
          display: none; }
        .main-container_filter_form_container_long-radio_invest_select .select, .main-container_filter_form_container_long-radio_profit_select .select {
          background: #EEE;
          display: flex;
          align-items: center; }
    .main-container_filter_form_results {
      flex-direction: column; }
      .main-container_filter_form_results_matches {
        text-align: center;
        margin: 25px; } }
  @media (max-width: 650px) {
    .main-container_filter_form_branches_checkbox {
      justify-content: center; }
      .main-container_filter_form_branches_checkbox_item {
        width: 100%; } }
  @media (max-width: 450px) {
    .main-container_filter_form_container_long-radio, .main-container_filter_form_container_small-radio {
      flex-direction: column; }
    .main-container_filter_form_results_show-offers_submit button {
      padding: 0;
      width: 19rem; } }

.main-container_help {
  padding: 5rem 0; }
  .main-container_help_container_items {
    width: 100%;
    flex-wrap: wrap; }
    .main-container_help_container_items_item {
      width: 26.5rem;
      min-width: 26.5rem;
      height: 42rem;
      margin: 2rem;
      background: #FFF; }
      .main-container_help_container_items_item .typical-item_picture {
        height: 45%; }
      .main-container_help_container_items_item .typical-item_subheader {
        height: 10%;
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        align-items: center; }
      .main-container_help_container_items_item .typical-item_text {
        height: 23%;
        margin-bottom: 25px;
        display: flex;
        align-items: center; }

.main-container_work-with {
  padding: 5rem 0; }
  .main-container_work-with_carousel_item {
    width: 25rem;
    height: 9rem;
    padding: 1rem 5rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.main-container_reviews {
  padding: 5rem 0; }
  .main-container_reviews_carousel .typical-item {
    width: 36rem;
    padding: 2rem 1rem 2rem 3rem;
    background: url(./../../svg/reviews/right-quotation.svg) 135% -30%/70% 60% no-repeat border-box border-box; }
    .main-container_reviews_carousel .typical-item_subheader {
      height: 4.5rem;
      margin-bottom: 2.5rem; }
    .main-container_reviews_carousel .typical-item_text {
      margin-bottom: 25px; }
    .main-container_reviews_carousel .typical-item_author {
      margin-bottom: 1rem;
      color: #171E2B; }

.main-container_news_header {
  text-align: center;
  margin-bottom: 40px; }

.main-container_news_container {
  flex-wrap: wrap; }
  .main-container_news_container .typical-item {
    flex-basis: 30%;
    border-radius: 5px; }
    .main-container_news_container .typical-item_picture {
      height: 24rem; }
    .main-container_news_container .typical-item_subheader {
      margin-bottom: 20px; }
    .main-container_news_container .typical-item_goto > div {
      padding: 1.5rem 0; }

.main-container_news_watch-all {
  margin-top: 4rem;
  margin-bottom: 5rem; }
  .main-container_news_watch-all button {
    color: #171E2B;
    border: 1px solid black; }
    .main-container_news_watch-all button:hover {
      background: #cb2524;
      color: #FFF; }

@media (max-width: 1550px) {
  .main-container_news_container .typical-item {
    flex-basis: 32%; } }

@media (max-width: 1250px) {
  .main-container_news_container {
    justify-content: center;
    flex-wrap: wrap; }
    .main-container_news_container .typical-item {
      flex-basis: auto;
      width: 36rem;
      margin: 1rem; } }

@media (max-width: 767px) {
  .main-container_news_watch-all {
    background: red;
    display: none; } }

.main-container_how-works {
  padding-top: 5rem; }
  .main-container_how-works .tabs_triggers_buttons_item {
    font-size: 1.3rem; }
  .main-container_how-works_how-sell {
    flex-wrap: wrap; }
    .main-container_how-works_how-sell .typical-item {
      flex-basis: 23%;
      background: #FFF; }
      .main-container_how-works_how-sell .typical-item_picture {
        height: 19rem; }
      .main-container_how-works_how-sell .typical-item_subheader {
        margin-bottom: 2.5rem; }
  @media (max-width: 1350px) {
    .main-container_how-works_how-sell {
      justify-content: center;
      align-items: center; }
      .main-container_how-works_how-sell .typical-item {
        flex-basis: auto;
        width: 26rem;
        margin: 1rem; } }

.main-container_free-call {
  padding: 10rem 0;
  color: #FFF;
  background: #202b63; }
  .main-container_free-call_container_header {
    margin-bottom: 3rem; }
  .main-container_free-call_container_form_radio {
    align-self: flex-end; }
    .main-container_free-call_container_form_radio_buy .buy-sell_label, .main-container_free-call_container_form_radio_sell .buy-sell_label {
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label input[type="radio"], .main-container_free-call_container_form_radio_sell .buy-sell_label input[type="radio"] {
        display: none; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label_fake, .main-container_free-call_container_form_radio_sell .buy-sell_label_fake {
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin-right: 10px;
        border: 1px solid #FFF;
        border-radius: 50%; }
        .main-container_free-call_container_form_radio_buy .buy-sell_label_fake::before, .main-container_free-call_container_form_radio_sell .buy-sell_label_fake::before {
          content: '';
          position: absolute;
          display: block;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          background: #cb2524;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: .3s; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label input[type="radio"]:checked + .buy-sell_label_fake::before, .main-container_free-call_container_form_radio_sell .buy-sell_label input[type="radio"]:checked + .buy-sell_label_fake::before {
        opacity: 1; }
      .main-container_free-call_container_form_radio_buy .buy-sell_label_text, .main-container_free-call_container_form_radio_sell .buy-sell_label_text {
        font-size: 1.4rem; }
    .main-container_free-call_container_form_radio_buy {
      margin-bottom: 10px; }
  .main-container_free-call_container_form_radio, .main-container_free-call_container_form_name, .main-container_free-call_container_form_phone, .main-container_free-call_container_form_submit {
    flex-basis: 22%; }
  .main-container_free-call_container_form_name label, .main-container_free-call_container_form_phone label {
    font-size: 1.6rem;
    margin-bottom: 7px; }
  .main-container_free-call_container_form_name input, .main-container_free-call_container_form_phone input {
    width: 100%;
    height: 53px;
    padding: 0 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #171E2B; }
  .main-container_free-call_container_form_submit {
    align-self: flex-end; }
    .main-container_free-call_container_form_submit button {
      width: 100%; }
  @media (max-width: 1300px) {
    .main-container_free-call_container_form_radio {
      flex-basis: 20%; }
      .main-container_free-call_container_form_radio .buy-sell_label_fake {
        width: 1.5rem;
        height: 1.5rem; }
      .main-container_free-call_container_form_radio .buy-sell_label_text {
        font-size: 1.2rem; }
    .main-container_free-call_container_form_name, .main-container_free-call_container_form_phone {
      flex-basis: 23%; }
    .main-container_free-call_container_form_submit {
      flex-basis: 25%; } }
  @media (max-width: 1100px) {
    .main-container_free-call_container_header {
      text-align: center; }
    .main-container_free-call_container_form {
      flex-direction: column; }
      .main-container_free-call_container_form > div {
        margin: 1rem 0; }
      .main-container_free-call_container_form_radio, .main-container_free-call_container_form_submit {
        align-self: inherit; }
      .main-container_free-call_container_form .buy-sell_label_fake {
        width: 2.5rem;
        height: 2.5rem; }
      .main-container_free-call_container_form .buy-sell_label_text {
        font-size: 1.4rem; }
      .main-container_free-call_container_form_name input, .main-container_free-call_container_form_phone input {
        width: 30rem; }
      .main-container_free-call_container_form_submit button {
        width: 30rem; } }

.main-container_seo {
  padding: 10rem 0;
  line-height: 1.5; }
  .main-container_seo_header {
    text-align: center;
    margin-bottom: 4rem; }
  .main-container_seo_text-1 {
    margin-bottom: 1.5rem; }

.main-container_footer {
  color: #FFF;
  background: #1d1e20; }
  .main-container_footer_content {
    padding-top: 3rem;
    padding-bottom: 2.5rem; }
    .main-container_footer_content_nav ul {
      display: flex; }
      .main-container_footer_content_nav ul :not(:last-child) {
        padding-right: 2rem; }
      .main-container_footer_content_nav ul a {
        font-size: 1.6rem; }
        .main-container_footer_content_nav ul a:hover {
          color: #7B8FA7;
          text-decoration: underline; }
    .main-container_footer_content_logo_text {
      color: #7B8FA7; }
    .main-container_footer_content_contacts_phone_text, .main-container_footer_content_contacts_email_text {
      color: #FFF; }
    .main-container_footer_content_networks {
      display: flex; }
      .main-container_footer_content_networks :not(:last-child) {
        margin-right: 1rem; }
      .main-container_footer_content_networks_item {
        width: 3rem;
        height: 3rem;
        background: #FFF;
        border-radius: 4px; }
        .main-container_footer_content_networks_item :not(:last-child) {
          margin-right: 1rem; }
        .main-container_footer_content_networks_item:hover {
          transform: scale(1.05); }
        .main-container_footer_content_networks_item svg {
          margin: 0; }
  .main-container_footer_rights {
    padding: 2.5rem 0;
    color: #7B8FA7;
    font-size: 1.2rem; }
    .main-container_footer_rights a {
      color: #7B8FA7; }
  @media (max-width: 1450px) {
    .main-container_footer_content_contacts {
      flex-direction: column; } }
  @media (max-width: 1300px) {
    .main-container_footer_content_nav {
      display: none; } }
  @media (max-width: 650px) {
    .main-container_footer_content, .main-container_footer_rights {
      flex-direction: column; }
      .main-container_footer_content > div, .main-container_footer_rights > div {
        margin-bottom: 10px; } }
